.message {
    //border: #b7b7b7;
    margin-bottom: 15px;
    padding: 10px;
    display: inline-block;
    max-width: 660px;
    min-width: 100px;
    border-radius: 0 15px 15px 15px;
    background-color: white;
    box-shadow: 1px 1px 1px #909090;

    &.user-message {
        border-radius: 15px 0 15px 15px;
        //background: linear-gradient(180deg, #f17f77, #e2afac);
        background-color: rgb(190, 209, 224);
    }

    .username {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
}
