<div class="footer-container">
    <h4 class="cit-text">c'IT@work 2017</h4>

    <div class="footer-menu">
        <div class="menu menu-left">
            <h4>Kontakt</h4>

        </div>
        <div class="menu menu-right">
            <h4>Praktikumsplätze</h4>
            <ul>
                <li>
                    <a class="text" href="javascript:void(0);" (click)="openPraktikumDialog('praktikum1');">Testkamel</a>
                </li>
                <li>
                    <a class="text" href="javascript:void(0);" (click)="openPraktikumDialog('praktikum2');">Mitarbeiter-App</a>
                </li>
            </ul>

            <h4>Wüstenrot</h4>
            <ul>
                <li>
                    <a class="text" href="https://www.karriere.at/f/w%C3%BCstenrot-datenservice" target="_blank">Wüstenrot Datenservice</a>
                </li>
                <li>
                    <a class="text" href="https://www.wuestenrot.at/index.html" target="_blank">Wüstenrot Konzern</a>
                </li>
                <li>
                    <a class="text" href="https://recruitingapp-5210.de.umantis.com/Vacancies/InitiativeApplication/9999" target="_blank">Bewerbungen</a>
                </li>
                <li>
                    <a class="text" href="https://www.wuestenrot.at/de/ueber-uns/karriere/wen-wir-suchen/karriere-in-der-zentrale.html" target="_blank">Benefits</a>
                </li>
            </ul>
        </div>
    </div>

</div>
